<div class="box">
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Image</th>
                <th>Info</th>
                <th>Category</th>
                <!-- <th>Date</th> -->
                <th>Seller ID</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of allProduct| paginate: { itemsPerPage: 10, currentPage: p }">
                <td>{{item.productName}}</td>
                <td>{{item.image}}</td>
                <td>{{item.useOfProduct}}</td>
                <td>{{item.category}}</td>
                <!-- <td>{{item.date}}</td> -->
                <td>{{item.sellerID}}</td>
                <td>
                    <button class="btn btn-warning" (click)="badContent(item.id)">Bad Content</button>&nbsp;
                    <button class="btn btn-danger" (click)="deleteProduct(item.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>