<div class="box">
    <section class="footer">
        <div class="logo-links">
            <h2>Go<span>fit</span></h2>
        <a href=""><i class="fab fa-facebook"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-youtube"></i></a>
    </div>
    <div class="support">
        <h4>Support</h4>
        <p>Contact us</p>
        <p>FAQ</p>
        <p>Downloads</p>
        <p>Project Registration</p>
        <p>Spare parts</p>
        <p routerLink="./developer">Developer(Ravi Sathe)</p>
    </div>
    <div class="features">
        <h4>Gofit</h4>
        <p>About Gofit</p>
        <p>Gofit Designs</p>
        <p>Gofit Access</p>
        <p (click)="decryptData()">Decrypt Data</p>
        <p routerLink="flip">Become (Seller) List YourSelf</p>
    </div>
    <div class="contact-form">
        <form class="form">
            <input type="text" placeholder="Enter Name"><br>
            <input type="text" placeholder="Enter Email or Phone"><br>
            <button (click)="enquiryForm()">Send</button>
        </form>
    </div>
</section>

<div class="copyright">
    Copyright 2023, All Rights Reserved
</div>
</div>