.box{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

input{
    padding: 10px 20px;
    margin: 10px;
}

button{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

a:hover{
    cursor: pointer;
    text-decoration: underline;
}