<div class="box">
    <div class="form">
        <form *ngIf="!loginPage" [formGroup]="registrationForm" (onsubmit)="onRegistration()"  class="example-form">
            <h1>Registration</h1>
            <mat-form-field class="example-full-width">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Albert" formControlName="firstName">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="dex" formControlName="lastName">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Age</mat-label>
                <input type="number" matInput placeholder="age" formControlName="age">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="abc@mail.com" id="email" formControlName="email">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Mobile Number</mat-label>
                <input type="number" matInput placeholder="1234567890" formControlName="mobileNo">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="********" formControlName="password">
              </mat-form-field><br>
              <div class="btn-link">
                <button type="submit" [disabled]="!registrationForm.valid" class="btn btn-outline-info" (click)="onRegistration()">Register</button>
                <a (click)="switchTab()">Already Have account ? </a>
              </div>
        </form>
    
        <form *ngIf="loginPage" [formGroup]="loginForm" class="example-form">
            <h1>Log in</h1>
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="abc@mail.com" formControlName="email">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="********" formControlName="password">
              </mat-form-field><br>
              <div class="btn-link">
                <button type="submit" [disabled]="!loginForm.valid" class="btn btn-outline-info" (click)="onLogin()">Submit</button>
                <a (click)="switchTab()">Dont Have account Register ! </a>
              </div>
              </form>
    </div>
  </div>
  
  <button (click)="getAllUser()">GetAllUsers</button>
 
