<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css"> -->
</head>
<body>

    <div class="box">
        <section class="section1">
            <div class="logo">
            <img src="/assets/logo.png" alt="" width="70px" routerLink="/">
        </div>
        <div class="navTabs">
            <ul>
                <li routerLink="../home" routerLinkActive="active">Home</li>
                <li>Shops</li>
                <li routerLink="service">Service</li>
                <li routerLink="contact-us">Contact</li>
                <li routerLink="about">About</li>
                <li >Language</li>
            </ul>
        </div>
        <div class="login-btn">
            <h2 *ngIf="loginButton">{{userName | uppercase}}</h2>
            <!-- <h2>hello</h2> -->
            <button *ngIf="!loginButton" (click)="login()">Login</button>
            <button *ngIf="loginButton" (click)="logout()">LogOut</button>
        </div>
        <div class="label">
            <label >
                <i class="fas fa-bars menu-btn" onclick="menu()"></i>
                <i class="fas fa-times menu-btn close-btn"></i>
            </label>
        </div>
    </section>


</div>

<!-- <button (click)="decryptData()">DecrypteWord</button> -->

</body>
</html>