*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header-box{
    margin: auto;
}

.header-logo img{
    background: gold;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    animation: logo_glow 1s infinite;
}

.header-logo img:hover{
    box-shadow: 0 0 20px gold;
}

@keyframes logo_glow {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
    
}
.header-section1{
    display: flex;
    justify-content: space-around;
    /* background: black; */
    background: #303036;
    /* margin-bottom: 10px; */
}

.navTabs ul li{
    display: inline-block;
    margin: 20px;
    background: transparent;
    color: rgb(255, 47, 0);
    cursor: pointer;
    transition: 0.4s;
    color: white;
    font-size: 20px;
}

.navTabs ul li:hover{
    /* background-color: white; */
    color: gold;
    filter: drop-shadow(0 0 20px gold);
    /* box-shadow: 0 0 20px gold; */
    transform: scale(1.2);
}

.header-login-btn button{
    background-color: rgb(42, 42, 42);
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 15px;
    border-radius: 30px;
    margin: 10px;
    font-weight: bold;
    letter-spacing: 0.5px;
    transition: 0.4s;
    border:1px solid gold ;
    cursor: pointer;
}

.header-login-btn button:hover{
    color: gold;
    background: white;
    transform: scale(1.1);
    box-shadow: 0 0 20px gold;
}

.header-login-btn h2{
    color: white;
    margin: 20px 10px;
    font-size: 22px;
    border: 3px solid red;
    box-shadow: 0 0 15px gold;
    border-radius: 15px;
}

.header-login-btn{
    display: flex;
    justify-content: space-between;
}

.header-section1 .label{
    display: none;
}

/* ---------Responsive --------------------------- */

@media(max-width:900px){
    .header-section1 .label{
        display: block;
        color: rgb(255, 80, 32);
        margin: 10px;
        font-size: 25px;
        cursor: pointer;
    }

    .label .close-btn{
        display: none;
    }

    .header-section1{
        justify-content: space-between;
    }

    .section1 .navTabs, .login-btn{
        display: none;
    }

}

/* ----------------------header----------------------------- */


.box{
    margin: 100px 0;
    display: flex;
    background: linear-gradient(#303036, #372728);
    font-family: 'Poppins', sans-serif;
    align-items: center;
    margin: auto;
    width: 90%;
}

.box .left{
    padding: 100px 0;
    width: 40%;
    margin: 0 100px;
}

.box .left h1{
    font-size: 45px;
    line-height: 55px;
}

.box .left h1 img{
    width: 150px;
    height: 45px;
    object-fit: cover;
    background-position: center;
    border-radius: 36%;
    border: 1px solid gold;
}

.box .left p{
    color: rgb(168, 165, 165);
    padding: 20px 0;
}

.btns{
    padding: 15px 0;
}

.box .left .btn-red{
    background: #ff2332;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    transition: 0.4s;
    cursor: pointer;
}

.box .left .btn-red:hover{
    background: #ff0f1f;
    transform: scale(1.1);
}

.box .left .btn-play{
    background: #49494f;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.4s;
}

.box .left .btn-play:hover{
    background: #1b1b23;
}

.left-cal{
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.left-cal-info::after{
    content: '';
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.left-cal-info:hover::after{
    width: 100%;
}

.left-cal .left-cal-info p{
    padding: 0;
}

.left-cal-info{
    padding: 10px 0;
}

.box .right{
    width: 60%;
}

.box .right img{
    width: 80%;
    height: 100vh;
    object-position: top;
    object-fit: cover;
    transition: 0.4s;
}

.box .right img:hover{
    filter: drop-shadow(0 0  20px gold);

}

/* -----------------section2------------------ */

.box2{
    background: #37383c;
    display: flex;
    justify-content: space-evenly;
    height: 85px;
    align-items: center;
}

.box2 p{
    color: rgb(168, 165, 165);
}

.box2 .right{
    display: flex;
    
}

.box2 .right h1{
    margin: 0 20px;
}

/* ---------section 3------------------------- */

.box3{
    background: #3a3b3f , black;
    height: 480px;
    display: flex;
    justify-content: space-evenly;align-items: center;
    position: relative;
}

.box3 .left img{
    filter: brightness(2);
}

.box3 .left h1{
    color: gold;
}

.box3 .right input{
    padding: 10px 20px;
    margin: 5px;
}

.box3 .right .btn-calc{
    color: gold;
    background: linear-gradient(red, black);
    padding: 10px 15px;
    border: none;
    margin: 5px;
    transition: 0.4s;
    cursor: pointer;
}

.box3 .right .btn-calc:hover{
    transform: scale(1.1);
}

.box3 .right p{
    margin: 10px 5px;
    font-size: 20px;
}

.box3 .right h1{
    color: gold;
}

.box3 .right .bmi-info{
   
}

.bmi{
    display: flex;
    flex-wrap: wrap;
}

/* ---------section 4------------------------- */

.box4{
    background: #37383c;
    display: flex;
    justify-content: space-evenly;
}

.box4 .left{
    /* width: ; */
}