<div class="box">
    <div class="left">
        <h1>GET HEALTHY BODY <br> WITH PERFECT <br> EXERCISES <img src="/assets/landing-page/second-small.jpg" alt=""></h1>
        <p>We are always there to help you to make a healthy body <br> and mind through the <span>Power</span> of Fitness.</p>
        <div class="btns">
            <button class="btn-red">Get Started</button>
            <button class="btn-play"><i class="fa-solid fa-play"></i></button> <span>Watch Videos</span><br>
        </div>

        <div class="left-cal">
            <div class="left-cal-info">
                <h1>105+</h1>
                <p>Expert Trainers</p>
            </div>
            <div class="left-cal-info">
                <h1>970+</h1>
                <p>Members Joined</p>
            </div>
            <div class="left-cal-info">
                <h1>135+</h1>
                <p>Fitness Program</p>
            </div>
        </div>
    </div>
    <div class="right">
        <img data-aos="flip-left" src="/assets/landing-page/first-right.png" alt="img">
    </div>
</div>

<!-- section 2--------------------- -->

<div class="box2">
        <div class="left">
            <h1>970k+ More</h1>
            <p>Trusted Companies Partner</p>
        </div>
        <div class="right">
            <h1>Brand 1</h1>
            <h1>Brand 2</h1>
            <h1>Brand 3</h1>
        </div>
</div>

<!-- section 3------------------------------ -->


<div class="box3">
    <div class="left">
        <h1>Calculate Your BMI For Free</h1>
        <img data-aos="zoom-out-down" data-aos-duration="1000" src="/assets/landing-page/pointing_right.png" alt="">
    </div>
    <div class="right">
        <div class="bmi">
            <div class="form">
                <form >
                    <h1>BMI Calculator</h1>
                <input type="number" placeholder="Enter Age" #age>
                <p>Please select your Gender</p>
                <input type="radio" id="male" name="gender" value="MALE" #gender>
                <label for="male">MALE</label><br>
                <input type="radio" id="female" name="gender" value="FEMALE" #gender>
              <label for="female">FEMALE</label><br>
              <input type="radio" id="other" name="gender" value="OTHER" #gender>
              <label for="other">OTHER</label><br>
            <input type="number" placeholder="Enter feet" #height_feet>
            <input type="number" placeholder="Enter Inches" #height_inch><br>
            <input type="number" placeholder="Enter Weight" #weight><br>
            <button class="btn-calc" (click)="calculateBMI(age,gender,height_feet,height_feet,weight)">Calculate</button>
            <p *ngIf="isBMI">Your BMI is : </p><h1>{{bmi}}</h1>
        </form>
    </div>
        
            <div class="bmi-info">
                <h1>BMI Categories:</h1> 
                <span>Underweight = &lt;18.5 <br>
                    Normal weight = 18.5–24.9 <br>
                    Overweight = 25–29.9 <br>
                    Obesity = BMI of 30 or greater </span>
            </div>
        </div>
    </div>
</div>

<!-- section4-------------------- -->

<div class="box4">
    <div class="one">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, sit?</div>
    <div class="one">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, sit?</div>
    <div class="one">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, sit?</div>
</div>