<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css"> -->
</head>
<body>

    <div class="box">

        <section class="section1">
            <div class="logo">
            <img src="/assets/bg.jpg" alt="" width="70px">
        </div>
        <div class="navTabs">
            <ul>
                <li>Home</li>
                <li>Shops</li>
                <li>Service</li>
                <li>Contact</li>
                <li>About</li>
            </ul>
        </div>
        <div class="login-btn">
            <button *ngIf="!loginButton" (click)="login()">Login</button>
            <button *ngIf="loginButton" (click)="logout()">LogOut</button>
        </div>
        <div class="label">
            <label >
                <i class="fas fa-bars menu-btn" onclick="menu()"></i>
                <i class="fas fa-times menu-btn close-btn"></i>
            </label>
        </div>
    </section>

    <!-- Section2------------------ -->

    <div class="box2">
        <section class="section2">
            <div class="item">
            <img src="/assets/bg.jpg" alt="">
            <h2>Tungstan Gym</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsa blanditiis doloremque minima dolores a facilis pariatur tempore molestiae odio!</p>
            <button (click)="knowMore('gym')">Know More</button>
        </div>
        
        <div class="item">
            <img src="/assets/protine.jpg" alt="">
            <h2>Protin</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsa blanditiis doloremque minima dolores a facilis pariatur tempore molestiae odio!</p>
            <button (click)="knowMore('protine')">Know More</button>
        </div>

        <div class="item">
            <img src="/assets/gymEquipments.jpg" alt="">
            <h2>Gym Equipments</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsa blanditiis doloremque minima dolores a facilis pariatur tempore molestiae odio!</p>
            <button (click)="knowMore('gym-equipment')">Know More</button>
        </div>

        <div class="item">
            <img src="/assets/cleaner.jpg" alt="">
            <h2>House keeping</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsa blanditiis doloremque minima dolores a facilis pariatur tempore molestiae odio!</p>
            <button (click)="knowMore('house-keeping')">Know More</button>
        </div>
        
        <div class="item">
            <img src="/assets/personalTrainer.jpg" alt="">
            <h2>Personal trainer</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsa blanditiis doloremque minima dolores a facilis pariatur tempore molestiae odio!</p>
            <button (click)="knowMore('personal-trainer')">Know More</button>
        </div>

        <div class="item">
            <img src="/assets/dietPlan2.jpg" alt="">
            <h2>Diet Plan</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsa blanditiis doloremque minima dolores a facilis pariatur tempore molestiae odio!</p>
            <button (click)="knowMore('diet-plan')">Know More</button>
        </div>

        <div class="item">
            <img src="/assets/commingSoon.png" alt="">
            <h2>Gym Requirement</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsa blanditiis doloremque minima dolores a facilis pariatur tempore molestiae odio!</p>
            <button (click)="knowMore('gym-requiremnet')">Know More</button>
        </div>

        <div class="item">
            <img src="/assets/repairMan.jpg" alt="">
            <h2>Machine Repairer</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsa blanditiis doloremque minima dolores a facilis pariatur tempore molestiae odio!</p>
            <button (click)="knowMore('machine-repair')">Know More</button>
        </div>

        <div class="item">
            <img src="/assets/cafe.jpg" alt="">
            <h2>Protine Cafes</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsa blanditiis doloremque minima dolores a facilis pariatur tempore molestiae odio!</p>
            <button (click)="knowMore('protine-cafe')">Know More</button>
        </div>
        
        <div class="item">
            <img src="/assets/sportsWare.webp" alt="">
            <h2>Sports Ware</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsa blanditiis doloremque minima dolores a facilis pariatur tempore molestiae odio!</p>
            <button (click)="knowMore('sports-ware')">Know More</button>
        </div>
        
        <div class="item" >
            <img src="" alt="">
            <h2>Comming Soon</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsa blanditiis doloremque minima dolores a facilis pariatur tempore molestiae odio!</p>
            <button (click)="knowMore('commingSoon')">Know More</button>
        </div>
    </section>
</div>
</div>

<script src="script.js"></script>
</body>
</html>