.box2{
    /* background: url(/assets/gym-bg.jpg)no-repeat; */
    background: rgb(42, 42, 42);
    background-size: cover;
    width: 100%;
    /* padding-top: 20px; */
    padding-bottom: 50px;
    /* height: 100vh; */
    color: white;
}