.topleft{
    display: flex;
    justify-content: space-between;
}

.select{
    /* display: inline-block; */
    height: 36px;
    width: 90px;
    margin-right: 5px;
}

.select option{
    color: red;
}


.searchBar{
    padding: 5px 5px;
    width: 400px;
    font-size: 20px;
}