/* -----------------section-2-------------------- */

.section2 .item{
    z-index: 10;
    width: 380px;
    height: 480px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    text-align: center;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
    color: white;
    background-color: #303036;
    /* background: rgba(255, 255, 255, 0.159); */
    border-radius: 10px;
    /* backdrop-filter: blur(2px); */
    /* background: transparent; */
    /* filter: brightness(110%); */
}

.box2{
    /* background: url(/assets/gym-bg.jpg)no-repeat; */
    background: rgb(42, 42, 42);
    background-size: cover;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
}

.section2{
    position: relative;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    align-items: center;
    row-gap: 30px;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.item img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    background-position: center;
    transition: 0.5s;
    z-index: 9999;
}
.item img:hover{
    height: 400px;
    width: 100%;
    transform: scale(1.1);
}

.item:hover{
    box-shadow:inset 0 0 20px rgba(0,0,0,2.25);
}

.item h2{
    color: gold;
    margin: 20px 0;
    font-weight: bold;
    position: absolute;
    bottom: 150px;
    left: 78px;
}

.item p{
    font-size: 18px;
    margin-bottom: 5px;
    position: absolute;
    bottom: 59px;
}

.item button{
    background-color: rgb(42, 42, 42);
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 130px;
    transition: 0.5s;
}

.item button:hover{
    color: gold;
    background: white;
    border:1px solid white;
    box-shadow: 0 0 20px gold;
}

.hl:hover{
    box-shadow: 0 0 20px gold;
}

/* ----------------------section 3-------------------- */

.footer{
    z-index: 999;
    height: 300px;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 90px;
}

.footer .logo-links h2{
    margin: 20px 10px;
    color: red;
    font-size: 30px;
    cursor: pointer;
}

.footer .logo-links h2 span{
    color: white;
    cursor: pointer;
}

.footer .logo-links a{
    margin: 30px 10px;
    color: white;
    cursor: pointer;
}

.support h4{
    color: grey;
    margin-top: 20px;
    cursor: pointer;
}
.support p{
    margin-top: 5px;
    cursor: pointer;
}

.features h4{
    color: grey;
    margin-top: 20px;
    cursor: pointer;
}
.features p{
    margin-top: 5px;
    cursor: pointer;
}

.contact-form .form{
    margin-top: 20px;
}

.contact-form .form input{
    padding: 10px 30px;
    background: transparent;
    border: none;
    margin-bottom: 5px;
    color: white;
    cursor: pointer;
}

.contact-form .form button{
    padding: 10px 35px;
    margin-top: 5px;
    background:linear-gradient(red,rgb(65, 64, 64));
    color: white;
    border: none;
    margin-left: 30px;
    transition: 0.4s;
}

.contact-form .form button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* ---------Responsive --------------------------- */

@media(max-width:900px){
    .section1 .label{
        display: block;
        color: rgb(255, 80, 32);
        margin: 10px;
        font-size: 25px;
        cursor: pointer;
    }

    .label .close-btn{
        display: none;
    }

    .section2 .item{
        width: 300px;
        height: 500px;
    }

    .item img{
        width: 100%;
        height: 300px;
    }

    .item h2{
        position: absolute;
        bottom: 120px;
        left: 28px;
    }

    .item p{
        font-size: 14px;
        margin: 5px;
    }
    
    .item button{
        font-size: 14px;
        position: absolute;
        left: 95px;
    }

    .section1{
        justify-content: space-between;
    }

    .section1 .navTabs, .login-btn{
        display: none;
    }

    .footer{
        flex-wrap: wrap;
        height: 500px;
    }
}

/* -----------------Responsive for small screen i.e 350px below------------------- */

@media(max-width:350px){
    .section2 .item{
        width: 250px;
        height: 400px;
    }

    .item img{
        width: 100%;
        height: 200px;
    }

    .item h2{
        font-size: 17px;
        position: absolute;
        bottom: 128px;
        left: 12px;
    }

    .item button{
        font-size: 10px;
        position: absolute;
        left: 70px;
    }

    .item p{
        font-size: 14px;
        margin: 2px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        /* padding-left: 50px; */
    }
}