<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

    <div class="box">

    <!-- Section2------------------ -->

    <div class="box2">
        <section class="section2">
            <div class="hl">
                <div class="item">
                    <img id="gym-img" src="/assets/bg.jpg" alt="">
                    <h2>Tungstan Gym</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsa blanditiis doloremque minima dolores a facilis pariatur tempore molestiae odio!</p>
                    <button (click)="getMoreGyms()">Know More</button>
                </div>
            </div>
        
            <div class="hl">
                <div class="item">
                    <img src="/assets/protine.jpg" alt="">
                    <h2>Protin Powder</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsa blanditiis doloremque minima dolores a facilis pariatur tempore molestiae odio!</p>
                    <button (click)="getMoreProtines()">Know More</button>
                </div>
            </div>

            <div class="hl">
                <div class="item">
                    <img src="/assets/gymEquipments.jpg" alt="">
                    <h2>Gym Equipments</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsa blanditiis doloremque minima dolores a facilis pariatur tempore molestiae odio!</p>
                    <button (click)="getMoreGymEquipment()">Know More</button>
                </div>
            </div>

            <div class="hl">
                <div class="item">
                    <img src="/assets/cleaner.jpg" alt="">
                    <h2>House keeping</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsa blanditiis doloremque minima dolores a facilis pariatur tempore molestiae odio!</p>
                    <button (click)="getHouseKeeping()">Know More</button>
                </div>
            </div>
        
            <div class="hl">
                <div class="item">
                    <img src="/assets/personalTrainer.jpg" alt="">
                    <h2>Personal trainer</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsa blanditiis doloremque minima dolores a facilis pariatur tempore molestiae odio!</p>
                    <button (click)="getMorePersonlTrainer()">Know More</button>
                </div>
            </div>

            <div class="hl">
                <div class="item">
                    <img src="/assets/dietPlan2.jpg" alt="">
                    <h2>Diet Plan ...</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsa blanditiis doloremque minima dolores a facilis pariatur tempore molestiae odio!</p>
                    <button (click)="getMoreDietPlan()">Know More</button>
                </div>
            </div>

            <div class="hl">
                <div class="item">
                    <img src="/assets/commingSoon.png" alt="">
                    <h2>Gym Requirement</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsa blanditiis doloremque minima dolores a facilis pariatur tempore molestiae odio!</p>
                    <button (click)="gymRequirements()">Know More</button>
                </div>
            </div>

            <div class="hl">
                <div class="item">
                    <img src="/assets/repairMan.jpg" alt="">
                    <h2>Machine Repairer</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsa blanditiis doloremque minima dolores a facilis pariatur tempore molestiae odio!</p>
                    <button (click)="machineRepair()">Know More</button>
                </div>
            </div>

            <div class="hl">
                <div class="item">
                    <img src="/assets/cafe.jpg" alt="">
                    <h2>Protine Cafes</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsa blanditiis doloremque minima dolores a facilis pariatur tempore molestiae odio!</p>
                    <button (click)="protineCafe()">Know More</button>
                </div>
            </div>
        
            <div class="hl">
                <div class="item">
                    <img src="/assets/sportsWare.webp" alt="">
                    <h2>Sports Ware</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsa blanditiis doloremque minima dolores a facilis pariatur tempore molestiae odio!</p>
                    <button (click)="sportsWare()">Know More</button>
                </div>
            </div>
        
            <div class="hl">
                <div class="item" >
                    <img src="" alt="">
                    <h2>Comming Soon</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsa blanditiis doloremque minima dolores a facilis pariatur tempore molestiae odio!</p>
                    <button (click)="commingSoone()">Know More</button>
                </div>
            </div>
        </section>
    </div>


</div>

<!-- <button (click)="decryptData()">DecrypteWord</button> -->

<script src="script.js"></script>
</body>
</html>